:root {
    --bg-color: #161a22;
    --text-color: #FFFFFF;
    --accent-color: #725AC1;
    --hover-color: #4e3fbf;
    --font-main: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    margin: 0;
    font-family: var(--font-main);
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
}

.content-box {
    max-width: 1100px;
    margin: 110px auto 60px;
    padding: 36px;
    background: rgba(20, 24, 32, 0.65);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.04);
    box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease;
}

.header-scrolled {
    background: rgba(22, 26, 34, 0.8);
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10%;
}

.github-link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 16px;
    background: #4e3fbf;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 9999px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.github-link:hover {
    transform: scale(1.05);
}

.logo {
    height: 30px;
    width: auto;
}

.github-text {
    font-size: 0.9rem;
    font-weight: 700;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 5px;
    margin: 0;
    padding: 8px;
    background: #4e3fbf;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 9999px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 9999px;
    font-size: 0.9rem;
    transition: all 0.2s;
}

nav ul li a:hover {
    background: var(--accent-color);
    transform: scale(1.05);
}

#hero {
    text-align: center;
    padding: 60px 20px 20px;
}

#hero h1 {
    font-size: 3.5rem;
    margin: 0;
}

#umim {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
#umim img {
    width: 48px;
    height: 48px;
    object-fit: contain;
}

#projects {
    padding: 80px 10%;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.card {
    border: 2px solid rgba(114, 90, 193, 0.3);
    padding: 30px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.02);
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    border-color: var(--accent-color);
    background: rgba(114, 90, 193, 0.05);
}